.generic-nav-set-rubric:hover {
    opacity: 0.8;
    background: var(--neutral-fill-stealth-hover);
}

/* level indenting */
::deep .fluent-nav-group * .fluent-nav-menu .fluent-nav-item .content-region {
    padding-inline-start: 0px;
}

::deep .fluent-nav-group * .fluent-nav-menu .fluent-nav-item * .fluent-nav-menu .fluent-nav-item .content-region {
    padding-inline-start: 48px;
}

::deep .fluent-nav-group * .fluent-nav-menu .fluent-nav-item * .fluent-nav-menu .fluent-nav-item * .fluent-nav-menu .fluent-nav-item .content-region {
    padding-inline-start: 72px;
}

::deep .fluent-nav-group * .fluent-nav-menu .fluent-nav-item * .fluent-nav-menu .fluent-nav-item * .fluent-nav-menu .fluent-nav-item * .fluent-nav-menu .fluent-nav-item .content-region {
    padding-inline-start: 96px;
}